<h1 mat-dialog-title>Add Tweet</h1>
<div mat-dialog-content>
    <form [formGroup]="addpostForm">

        <mat-form-field appearance="outline">
            <mat-label>write something</mat-label>
            <input formControlName="tweet" matInput maxlength="180" placeholder="What's happening? ">
          </mat-form-field>
    </form>
</div>

<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button style= "margin-left: 10px;" mat-raised-button color="primary" (click)="savePost()" [disabled]="!addpostForm.valid">Done</button>
</div>
