<section>

    <div class="example-button-row">

        <button mat-raised-button color="accent" (click)="openDialog()">Add Tweet</button>
    </div>

    <div class="tweets">
      <mat-card class="tweet-card" *ngFor="let post of tweets">
        <mat-card-title>New Tweet</mat-card-title>
        <mat-card-content>
          <p>{{post.tweet}}</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          {{numberOfLikes}}
          <button mat-button color="primary" (click)="likeTweet()">Like</button>
          <button mat-button color="warn" (click)="dislikeTweet()">Dislike</button>
          <button mat-button >comment</button>
        </mat-card-actions>

      </mat-card>
    </div>
  </section>







